header{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    nav{
        width: 80%;
        margin-left: 20%;
        ul{
            display: flex;
            justify-content: space-between;
            list-style: none;
            a{
                text-decoration: none;
                text-transform: uppercase;
                font-family: 'Anek Tamil', sans-serif;
                font-size: 16px;
                color: $prim;
            }
        }
    }
    img{
        height: 97px;
        width: 136px;
    }
}
