#matches{
    z-index: 1;
    position: fixed;
    background-color:$sectext;
    width: 100%;
    p{
        width: 80%;
        margin: auto;
        color: white;
        font-family: 'Anek Tamil';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 28px;
        color: #FFFFFF;
        animation:flip-horizontal-top .5s cubic-bezier(.455,.03,.515,.955) reverse both;
        @keyframes flip-horizontal-top{0%{transform:rotateX(0)}100%{transform:rotateX(180deg)}};
                span{
            font-family: 'Anek Tamil';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #FFFFFF;
            
            
        }
    }
}
header{
    padding-top:30px !important;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    nav{
       
        width: 80%;
        margin-left: 20%;
        ul{
            display: flex;
            justify-content: space-between;
            list-style: none;
            a{
                text-decoration: none;
                text-transform: uppercase;
                font-family: 'Anek Tamil', sans-serif;
                font-size: 16px;
                color: $prim;
            }
        }
    }
    img{
        height: 97px;
        width: 136px;
    }
}